:host {
  .site-container {
    height: 100%;
    .main-content {
      height: 100%;
      padding: 0;
      .main-content-wrap {
        height: 100%;
        width: 100%;
        display: table;
        padding: 0 22px;
        table-layout: fixed;
      }
    }
  }
}
