:host {
  align-items: center;
  background: rgba(#000,.1);
  display: flex;
  font-size: .8rem;
  height: 1.5714286rem * 2;
  justify-content: space-between;
  width: 100%;
  .footer {
    font-size: 13px;
    color: #887c7c;
  }
  .spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
