<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Webee Challenge</span>
    <span class="nav-spacer"></span>
    <span class="nav-email">{{ userLogged.email }}</span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
