<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="login-form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="login-form-field">
          <input matInput type="email" placeholder="E-mail" formControlName="email">
        </mat-form-field>
        <mat-form-field class="login-form-field">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-progress-bar class="loading-bar" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button color="primary" [disabled]="!form.valid">Log in</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
