:host {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
  .login-form {
    min-width: 100%;
    max-width: 300px;

    .login-form-field {
      width: 100%;
    }
  }
}
