:host {
  .site-container {
    height: 100%;
    .main-content {
      padding: 0;
      height: calc(100% - 130px);
      .main-content-wrap {
        height: 100%;
        width: 100%;
        display: table;
        table-layout: fixed;
      }
    }
  }
}
