<div class="site-container">
  <app-navbar></app-navbar>
  <main class="main-content">
    <div class="main-content-wrap">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </main>
</div>
