<h1 mat-dialog-title>
  {{ data.action === 'CREATE' ? 'Create user' : 'Edit user' }}
</h1>
<form class="account-form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
      <mat-form-field class="account-form-field">
        <input matInput placeholder="First name" formControlName="first_name">
      </mat-form-field>
    <mat-form-field class="account-form-field">
      <input matInput placeholder="Last name" formControlName="last_name">
    </mat-form-field>
    <mat-form-field class="account-form-field">
      <input matInput type="email" placeholder="E-mail" formControlName="email">
    </mat-form-field>
    <mat-form-field class="account-form-field">
      <input matInput type="url" placeholder="Image URL" formControlName="avatar">
    </mat-form-field>
    <mat-progress-bar class="loading-bar" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close [disabled]="loading">Cancel</button>
    <button mat-button [disabled]="!form.valid || loading">Save</button>
  </div>
</form>
