:host {
  .mat-table {
    width: 100%;
    td.mat-column-actions {
      width: 80px;
    }
  }
  .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    vertical-align: middle;
  }
  .spacer {
    flex: 1 1 auto;
  }
}
