<h4 mat-dialog-title>You are about to delete this user. This action can not be undone.</h4>
<div mat-dialog-content>
  {{data.user.first_name}} {{data.user.last_name}}
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button [mat-dialog-close]="true" color="warn">Remove</button>
</div>
